.banner{
    /* background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://images.pexels.com/photos/225232/pexels-photo-225232.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/img/background.jpg);
    background-size: cover;
}

.landing{
    height: 93vh;
}

.register{
    /* background: #cfebff2a; */
    background: whitesmoke;
}